---
layout: base
---
<article class="h-entry">
	<h1 class="p-name">{{ title }} 
		<time class="dt-published" datetime="{{page.date | toDate}}">
			{{ page.date | toDate }}
		</time></h1>
	
	<div class="e-content">
		{{ content | safe }}
	</div>
</article>

{%- if collections.til %}
{%- set previousPost = collections.til | getPreviousCollectionItem %}
{%- set nextPost = collections.til | getNextCollectionItem %}
{%- if nextPost or previousPost %}
<ul class="links-nextprev">
	{%- if previousPost %}<li>上一篇： <a href="{{ previousPost.url }}">{{ previousPost.data.title }}</a></li>{% endif %}
	{%- if nextPost %}<li>下一篇： <a href="{{ nextPost.url }}">{{ nextPost.data.title }}</a></li>{% endif %}
</ul>
{%- endif %}
{%- endif %}
