---
layout: base
---
<h1>{{ title }}</h1>

{{ content | safe }}

{%- if collections.til %}
{%- set previousPost = collections.til | getPreviousCollectionItem %}
{%- set nextPost = collections.til | getNextCollectionItem %}
{%- if nextPost or previousPost %}
<ul class="links-nextprev">
	{%- if previousPost %}<li>上一篇： <a href="{{ previousPost.url }}">{{ previousPost.data.title }}</a></li>{% endif %}
	{%- if nextPost %}<li>下一篇： <a href="{{ nextPost.url }}">{{ nextPost.data.title }}</a></li>{% endif %}
</ul>
{%- endif %}
{%- endif %}